Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
IndentExternBlock: Indent
ColumnLimit: 88
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
PackConstructorInitializers: Never
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
