[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/
[submodule "external/vma_hpp"]
	path = external/vma_hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "external/shaderc"]
	path = external/shaderc
	url = https://github.com/google/shaderc.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
